{% load static %}

{% block breadcrumb %}
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{% static 'img/core-img/breadcrumb-line.png' %}" alt="">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page_name}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
