{% load static %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Footer Curve Line -->
        <img class="footer-curve" src="{% static 'img/core-img/foo-curve.png' %}" alt="">
        <!-- Footer Social Info -->
        <div class="footer-social-info d-flex align-items-center justify-content-between">
          <a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
          <a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
          <a href="#"><i class="fa fa-google-plus"></i><span>Google +</span></a>
          <a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
          <a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a>
          <a href="#"><i class="fa fa-vimeo"></i><span>Vimeo</span></a>
          <a href="#"><i class="fa fa-youtube"></i><span>Youtube</span></a>
        </div>
        <!-- Footer Curve Line -->
        <img class="footer-curve" src="{% static 'img/core-img/foo-curve.png' %}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="copywrite-text">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
