{% load static %}

<header class="header-area">
  <!-- Top Header Area -->
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="top-header-content d-flex align-items-center justify-content-between">
            <!-- Search Form -->
            <div class="search-form">
              <form action="{% url 'search' %}">
                <input type="search" name="q" class="form-control" placeholder="Search and hit enter...">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <!-- Social Button -->
            <div class="top-social-info">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Logo Area -->
  <div class="logo-area text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Nav brand -->
          <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar Area -->
  <div class="foode-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar" id="foodeNav">
          <!-- Nav brand -->
          <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>
          <!-- Menu -->
          <div class="classy-menu">
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a href={% url 'home' %}>Home</a></li>
                <li>
                  <a href="#">Catagories</a>
                  <div class="megamenu">
                    <ul class="single-mega cn-col-4">
                      {% for category in categories %}
                      <li><a href="{% url 'posts_by_category' category.id %}">- {{category.name}} </a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'archive' %}">Archive Blog</a></li>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
