{% load static %}

<div class="follow-us-instagram">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h2>Follow Us On Instagram</h2>
          <span>@foodeblog</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="instagram-slides owl-carousel">
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta1.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta2.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta3.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta4.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta5.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
          <!-- Single Instagram Slide -->
          <div class="single-instagram-slide">
            <img src="{% static 'img/blog-img/insta6.jpg' %}" alt="">
            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
