{% load static %}

<div class="preloader d-flex align-items-center justify-content-center">
  <div class="circle-preloader">
    <img src="{% static 'img/core-img/logo.png' %}" alt="">
    <div class="foode-preloader">
      <span></span>
    </div>
  </div>
</div>
