<!-- ##### Single Widget Area ##### -->
<div class="single-widget-area">
  <!-- Title -->
  <div class="widget-title">
    <h6>Archives</h6>
  </div>
  <ol class="foode-archives">
  {% regroup queryset by created_at.year as year_list %}
    {% for year in year_list %}
    <li><a href="#"><span><i class="fa fa-stop" aria-hidden="true"></i>{{ year.grouper }}</span></a></li>
    {% regroup year.list by created_at.month as month_list %}
    <ul>
      {% for month in month_list %}
      <li><a href="{% url 'blog_archive_month' year.grouper month.grouper %}">{{ month.list.0.created_at|date:'F' }} ({{ month.list|length }})</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
  </ol>
</div>
