<!-- ##### Single Widget Area ##### -->
<div class="single-widget-area">
  <!-- Title -->
  <div class="widget-title">
    <h6>Categories</h6>
  </div>
  <ol class="foode-catagories">
    {% for category in categories %}
    <li>
      <a href="{% url 'posts_by_category' category.id %}?t=archive">
        <span>
          <i class="fa fa-stop" aria-hidden="true"></i> {{category}}
        </span>
        <span>({{category.num_posts}})</span>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
