<!-- ##### Single Widget Area ##### -->
<div class="single-widget-area">
  <!-- Title -->
  <div class="widget-title">
    <h6>Latest Posts</h6>
  </div>
  <!-- Single Latest Posts -->
  {% for post in latest_posts %}
  <div class="single-latest-post d-flex">
    <div class="post-thumb">
      <img src="{{ post.picture.url }}" alt="">
    </div>
    <div class="post-content">
      <a href="{{ post.get_absolute_url }}" class="post-title">
        <h6>{{ post.title }}</h6>
      </a>
      <a href="#" class="post-author">
        <span>by</span> {{ post.author }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>
