<!-- ##### Single Widget Area ##### -->
<div class="single-widget-area">
  <!-- Title -->
  <div class="widget-title">
    <h6>popular tags</h6>
  </div>
  <!-- Tags -->
  <ol class="popular-tags d-flex flex-wrap">
    {% for tag in tags %}
    <li><a href="tag?t=archive&q={{tag.name}}"> {{ tag.name }} </a></li>
    {% endfor %}
  </ol>
</div>
