{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="blog-content-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="row justify-content-center">
        <!-- Blog Posts Area -->
        <div class="col-12 col-lg-8">
          <div class="blog-posts-area">
            <!-- Single Blog Post -->
            {% for post in queryset %}
            <div class="single-blog-post d-flex flex-wrap mt-50">
              <!-- Thumbnail -->
              <div class="post-thumbnail mb-50">
                <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" alt=""></a>
              </div>
              <!-- Content -->
              <div class="post-content mb-50">
                <p class="post-date">{{ post.created_at }} / {{ post.category }}</p>
                <a href={{post.get_absolute_url}} class="post-title">
                  <h4>{{ post.title }}</h4>
                </a>
                <div class="post-meta">
                  <a href="#"><span>by</span> {{ post.author }}</a>
                  <a href="#"><i class="fa fa-eye"></i> 192</a>
                  <a href="#"><i class="fa fa-comments"></i> {{ post.comments_set.count }}</a>
                </div>
                <p class="post-excerpt">{{post.content|slice:"0:150"}}</p>
                <a href="{{post.get_absolute_url}}" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </div>
              <!-- Post Curve Line -->
              <img class="post-curve-line" src="{% static 'img/core-img/post-curve-line.png' %}" alt="">
            </div>
            {% endfor %}
          </div>
          {% if queryset.has_other_pages %}
          <ol class="foode-pager mt-50">
            {% if queryset.has_previous %}
            <li><a href="?page={{queryset.previous_page_number}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Older</a></li>
            {% endif %}
            {% if queryset.has_next %}
            <li><a href="?page={{ queryset.next_page_number }}">Newer <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            {% endif %}
          </ol>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
