{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Blog Posts Area -->
      <div class="col-12 col-lg-8">
        <div class="blog-posts-area">
          <!-- Post Details Area -->
          <div class="single-post-details-area">
            <div class="post-thumbnail mb-30">
              <img src="{{ post.picture.url }}" alt="">
            </div>
            <div class="post-content">
              <p class="post-date">{{ post.created_at }} / {{ post.category.name }}</p>
              <h4 class="post-title">{{ post.title }}</h4>
              <div class="post-meta">
                <a href="#"><span>by</span> {{ post.author }} </a>
                <a href="#"><i class="fa fa-eye"></i> 192</a>
                <a href="#"><i class="fa fa-comments"></i> {{ post.comments.count }} </a>
              </div>
              {{ post.content }}
            </div>
          </div>
          <!-- Post Tags & Share -->
          <div class="post-tags-share d-flex justify-content-between align-items-center">
            <!-- Tags -->
            <ol class="popular-tags d-flex flex-wrap">
              {% for tag in tags %}
              <li><a href="#">{{ tag.name }}</a></li>
              {% endfor %}
            </ol>
            <!-- Share -->
            <div class="post-share">
              <span>Share:</span>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
          </div>
          <!-- Related Post Area -->
          <div class="related-posts clearfix">
            <!-- Line -->
            <div class="curve-line bg-img mb-50" style="background-image: url(img/core-img/breadcrumb-line.png);"></div>
            <!-- Headline -->
            <h4 class="headline">Relatest News</h4>
            <div class="row">
              <!-- Single Blog Post -->
              {% for post in related_posts %}
              <div class="col-12 col-md-6">
                <div class="single-blog-post related-post">
                  <!-- Thumbnail -->
                  <div class="post-thumbnail mb-50">
                    <a href={{post.get_absolute_url}}><img src="{{post.picture.url}}" alt=""></a>
                  </div>
                  <!-- Content -->
                  <div class="post-content mb-50">
                    <p class="post-date">{{ post.created_at }} / {{ post.category }}</p>
                    <a href={{post.get_absolute_url}} class="post-title">
                      <h4>{{ post.title }}</h4>
                    </a>
                    <div class="post-meta">
                      <a href="#"><span>by</span> {{ post.author }}</a>
                      <a href="#"><i class="fa fa-eye"></i> 192</a>
                      <a href="#"><i class="fa fa-comments"></i> {{ post.comments.count }}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Line -->
            <div class="curve-line bg-img" style='background-image: url("{% static 'img/core-img/breadcrumb-line.png' %}");'></div>
          </div>
          <!-- Comment Area Start -->
          <div class="comment_area clearfix">
            <h4 class="headline">{{ comments.count }} Comments</h4>
            <ol>
              {% for comment in comments %}
              <!-- Single Comment Area -->
              <li class="single_comment_area">
                <div class="comment-wrapper d-flex">
                  <!-- Comment Meta -->
                  <div class="comment-author">
                    <img src="{% static 'img/blog-img/15.jpg' %}" alt="">
                  </div>
                  <!-- Comment Content -->
                  <div class="comment-content">
                    <span class="comment-date">{{ comment.created_at }}</span>
                    <h5>{{ comment.name }}</h5>
                    <p>{{ comment.content }}</p>
                    <a href="#">Like</a>
                    <a class="active" href="#">Reply</a>
                  </div>
                </div>
                <ol class="children">
                  {% for reply in comment.replies.all %}
                  <li class="single_comment_area">
                    <div class="comment-wrapper d-flex">
                      <!-- Comment Meta -->
                      <div class="comment-author">
                        <img src="{% static 'img/blog-img/16.jpg' " alt="">
                      </div>
                      <!-- Comment Content -->
                      <div class="comment-content">
                        <span class="comment-date">{{ reply.created_at }}</span>
                        <h5>{{ reply.name }}</h5>
                        <p>{{ reply.content }}</p>
                        <a href="#">Like</a>
                        <a class="active" href="#">Reply</a>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ol>
              </li>
              {% endfor %}
            </ol>
          </div>
          <!-- Leave A Comment -->
          <div class="leave-comment-area clearfix">
            <div class="comment-form">
              {% if new_comment %}
              <div class="alert alert-success" role="alert">
                Your comment is awaiting moderation
              </div>
              {% else %}
              <h4 class="headline">Leave A Comment</h4>
              <!-- Comment Form -->
              <form action="{% url 'post_detail' post.id %}" method="post">
                {% csrf_token %}
                {{ comment_form.non_field_errors }}
                {{ comment_form.source.errors }}
                {{ comment_form.source }}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      {{ comment_form.name.errors }}
                      {{ comment_form.name }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      {{ comment_form.email.errors }}
                      {{ comment_form.email }}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      {{ comment_form.content.errors }}
                      {{ comment_form.content }}
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn foode-btn">Post Comment</button>
                  </div>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- Blog Sidebar Area -->
      <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="post-sidebar-area">
          {% include 'sidebar/_categories.html' with categories=categories %}
          {% include 'sidebar/_latest_posts.html' with latest_posts=latest_posts %}
          {% include 'sidebar/_add.html' %}
          {% include 'sidebar/_archive_posts.html' %}
          {% include 'sidebar/_tags.html' with tags=tags %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Content Area End ##### -->
{% endblock %}
