{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'page/_breadcrumb.html' with page_name="About Us" %}

<div class="about-us-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="section-heading">
          <h2>About Us</h2>
          <p>New unique project about food</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="about-content">
          <img src="{% static 'img/blog-img/18.jpg' %}" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi chitecto beatae vitae dicta sunt explicabo.</p>
          <blockquote>
            <h5>“That’s not to say you’ll have the exact same thing if you stop by: the restaurant’s menus change constantly, based on seasonal ingredients.”</h5>
          </blockquote>
          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="{% static 'img/blog-img/19.jpg' %}" alt="">
            </div>
            <div class="col-12 col-md-6">
              <img src="{% static 'img/blog-img/20.jpg' %}" alt="">
            </div>
          </div>
          <p>Quisque nunc erat, pharetra ut cursus quis, tristique eu enim. Maecenas elementum dolor vel erat vestibulum malesuada. Pellentesque sed magna porta, finibus elit et, mollis lacus. Proin elementum metus nec tincidunt iaculis. Donec ut vulputate sem, venenatis ultricies felis. Praesent convallis mauris leo, a dignissim lorem bibendum eget. Duis sodales urna sed odio maximus egestas. Nulla molestie consequat mattis.</p>
          <p>Vestibulum non tristique metus. Morbi tempus nibh sed quam fringilla fringilla a a neque. In aliquet ex vitae eros convallis dictum. Suspendisse vulputate mauris id tincidunt rhoncus. Vestibulum sit amet nibh nisi.</p>
          <ul>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Quisque bibendum justo aliquet, aliquam mauris condimentum.</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Sed malesuada neque tempus, euismod magna ut.</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Vivamus lacinia nibh ac lorem mattis.</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Phasellus malesuada dolor eget velit cursus.</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Donec finibus ipsum a turpis volutpat, et tempor enim varius.</li>
            <li><i class="fa fa-circle" aria-hidden="true"></i> Maecenas laoreet nunc sed odio placerat.</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="signature">
            <img class="mb-0" src="{% static 'img/core-img/signa.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
