{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'page/_breadcrumb.html' with page_name="Blog Archive" %}
<section class="blog-content-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Blog Posts Area -->
      <div class="col-12 col-lg-8">
        <div class="blog-posts-area">
          {% if featured_post %}
          <!-- Featured Post Area -->
          <div class="featured-posts">
            <a href="{{ featured_post.get_absolute_url }}">
              <img src="{{ featured_post.picture.url }}" alt="">
            </a>
            <!-- Featured Post Content -->
            <div class="featured-post-content">
              <p>{{ featured_post.created_at }} / {{ featured_post.category.name }}</p>
              <a href="{{ featured_post.get_absolute_url }}" class="post-title">
                <h2>{{ featured_post.title }}</h2>
              </a>
            </div>
          </div>
          {% endif %}
          <!-- Single Blog Post -->
          {% for post in queryset %}
          <div class="single-blog-post d-flex flex-wrap mt-50">
            <!-- Thumbnail -->
            <div class="post-thumbnail mb-50">
              <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.picture.url }}" alt="">
              </a>
            </div>
            <!-- Content -->
            <div class="post-content mb-50">
              <p class="post-date">{{ post.created_at }} / {{ post.category.name }}</p>
              <a href="{{ post.get_absolute_url }}" class="post-title">
                <h4>{{ post.title }}</h4>
              </a>
              <div class="post-meta">
                <a href="#"><span>by</span> {{ post.author }}</a>
                <a href="#"><i class="fa fa-eye"></i> 192</a>
                <a href="#"><i class="fa fa-comments"></i> {{ post.comments.count }}</a>
              </div>
              <p class="post-excerpt"> {{ post.content|slice:"0:150" }} </p>
              <a href="{{ post.get_absolute_url }}" class="read-more-btn">Continue Reading
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <!-- Post Curve Line -->
            <img class="post-curve-line" src="{% static 'img/core-img/post-curve-line.png' %}" alt="">
          </div>
          {% empty %}
          <p>We can't find any posts</p>
          {% endfor %}
        </div>
        <!-- Pager -->
        {% if queryset.has_other_pages %}
        <ol class="foode-pager mt-50">
          {% if queryset.has_previous %}
          <li>
            <a href="?page={{queryset.previous_page_number}}">Older
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if queryset.has_next %}
          <li>
            <a href="?page={{ queryset.next_page_number }}">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer
            </a>
          </li>
          {% endif %}
        </ol>
        {% endif %}
      </div>
      <!-- Blog Sidebar Area -->
      <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="post-sidebar-area">
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area mt-0">
            <!-- <form class="search-form" action="/search_archive?t=archive" method='post'> -->
            <form class="search-form" action="/archive_blog" method='get'>
              <input type="hidden" name="t" value="archive">
              <input type="search" name="q" class="form-control" placeholder="Search in archive...">
              <button><i class="fa fa-send"></i></button>
            </form>
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <!-- Title -->
            <div class="widget-title">
              <h6>About Me</h6>
            </div>
            <!-- Thumbnail -->
            <div class="about-thumbnail">
              <img src="{% static 'img/blog-img/about-me.jpg' %}" alt="">
            </div>
            <!-- Content -->
            <div class="widget-content text-center">
              <img src="{% static 'img/core-img/signature.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
          </div>
          {% include 'sidebar/_categories.html' with  blog_categories=blog_categories %}
          {% include 'sidebar/_latest_posts.html' with latest_posts=latest_posts %}
          {% include 'sidebar/_add.html' %}
          {% include 'sidebar/_archive_posts.html' with queryset=queryset%}
          {% include 'sidebar/_tags.html' with tags=tags %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
