{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Foode - Food Blog HTML5 Template</title>
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
  {% include 'page/_preloader.html'%}
  {% include 'page/_header.html'%}

  {% block content %}
  {% endblock %}

  {% include 'page/_instagram.html'%}
  {% include 'page/_footer.html'%}
  {% include 'page/_javascript.html'%}
</body>
</html>
