{% extends 'base.html' %}
{% block content %}
{% include 'page/_breadcrumb.html' with page_name="Contact" %}
<!-- ##### Google Maps Start ##### -->
<div class="map-area">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22236.40558254599!2d-118.25292394686001!3d34.057682914027104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z4Kay4Ka4IOCmj-CmnuCnjeCmnOCnh-CmsuCnh-CmuCwg4KaV4KeN4Kav4Ka-4Kay4Ka_4Kar4KeL4Kaw4KeN4Kao4Ka_4Kav4Ka84Ka-LCDgpq7gpr7gprDgp43gppXgpr_gpqgg4Kav4KeB4KaV4KeN4Kak4Kaw4Ka-4Ka34KeN4Kaf4KeN4Kaw!5e0!3m2!1sbn!2sbd!4v1532328708137" allowfullscreen></iframe>
</div>
<!-- ##### Google Maps End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-content-area">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="contact-content">
                <h4>Get In Touch</h4>
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                  <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}

                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="form-group">
                          {{ form.name.errors }}
                          {{ form.name }}
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="form-group">
                          {{ form.from_email.errors }}
                          {{ form.from_email }}
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          {{ form.message.errors }}
                          {{ form.message }}
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn foode-btn">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="contact-content contact-information">
                <h4>Information</h4>
                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex">
                  <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <p>3919 New Cut Rd, Mary land, United State.</p>
                </div>
                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex">
                  <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <p>(12)-100-100-100</p>
                </div>
                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex">
                  <div class="icon">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </div>
                  <p>(12)-112-123-123</p>
                </div>
                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex">
                  <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <p>deercreative@gmail.com</p>
                </div>
                <!-- Contact Social Info -->
                <div class="contact-social-info mt-50">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
