{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'page/_breadcrumb.html' with page_name="" %}
<section class="hero-area">
  <div class="hero-post-slides owl-carousel">
    {% for post in posts %}
    <div class="single-hero-post">
      <div class="slide-img bg-img" style="background-image: url({{post.picture.url}});"></div>
      <div class="hero-slides-content">
        <p>{{ post.created_at }} / 35 Comments</p>
        <a href={{post.get_absolute_url}} class="post-title">
          <h4>{{post.title}}</h4>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="blog-content-area section-padding-100">
  <div class="container">
    {% if featured_posts %}
    <div class="row">
      <!-- Featured Post Area -->
      <div class="col-12">
        <div class="featured-post-area">
          <div id="featured-post-slides" class="carousel slide d-flex flex-wrap" data-ride="carousel">
            <div class="carousel-inner">
              {% for post in featured_posts %}
              <div class="carousel-item {% if forloop.first %}active{% endif %} bg-img" style="background-image: url({{post.picture.url}});">
                <div class="featured-post-content">
                  <p>{{ post.created_at }} / {{ post.category.name }}</p>
                  <a href={{post.get_absolute_url}} class="post-title">
                    <h2>{{ post.title }}</h2>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
            <ol class="carousel-indicators">
              {% for post in featured_posts %}
              <li data-target="#featured-post-slides" data-slide-to={{forloop.counter0}} class="{% if forloop.first %}active{% endif %}">
                <h2>{{forloop.counter}}</h2>
                <a href={{post.get_absolute_url}} class="post-title">
                  <h5>{{ post.title }}</h5>
                </a>
              </li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      <!-- Blog Posts Area -->
      <div class="col-12 col-lg-8">
        <div class="blog-posts-area">
          <!-- Single Blog Post -->
          {% for post in blog_posts %}
          <div class="single-blog-post d-flex flex-wrap mt-50">
            <!-- Thumbnail -->
            <div class="post-thumbnail mb-50">
              <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" alt=""></a>
            </div>
            <!-- Content -->
            <div class="post-content mb-50">
              <p class="post-date">{{ post.created_at }} / {{ post.category.name }}</p>
              <a href={{post.get_absolute_url}} class="post-title">
                <h4>{{ post.title }}</h4>
              </a>
              <div class="post-meta">
                <a href="#"><span>by</span> {{ post.author }}</a>
                <a href="#"><i class="fa fa-eye"></i> 192</a>
                <a href="#"><i class="fa fa-comments"></i> {{ post.comments.count }}</a>
              </div>
              <p class="post-excerpt">{{post.content|slice:"0:150"}}</p>
              <a href="{{post.get_absolute_url}}" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
            <!-- Post Curve Line -->
            <img class="post-curve-line" src="{% static 'img/core-img/post-curve-line.png' %}" alt="">
          </div>
          {% endfor %}
        </div>
        <!-- Pager -->
        {% if blog_posts.has_other_pages %}
        <ol class="foode-pager mt-50">
          {% if blog_posts.has_previous %}
          <li><a href="?page={{blog_posts.previous_page_number}}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Older</a></li>
          {% endif %}
          {% if blog_posts.has_next %}
          <li><a href="?page={{ blog_posts.next_page_number }}">Newer <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
          {% endif %}
        </ol>
        {% endif %}
      </div>
      <!-- Blog Sidebar Area -->
      <div class="col-12 col-sm-9 col-md-6 col-lg-4">
        <div class="post-sidebar-area">
          <div class="single-widget-area">
            <div class="widget-title">
              <h6>About Me</h6>
            </div>
            <!-- Thumbnail -->
            <div class="about-thumbnail">
              <img src="{% static 'img/blog-img/about-me.jpg' %}" alt="">
            </div>
            <!-- Content -->
            <div class="widget-content text-center">
              <img src="{% static 'img/core-img/signature.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
            </div>
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <!-- Title -->
            <div class="widget-title">
              <h6>Subscribe &amp; Follow</h6>
            </div>
            <!-- Widget Social Info -->
            <div class="widget-social-info text-center">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-rss"></i></a>
            </div>
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <!-- Title -->
            <div class="widget-title">
              <h6>Latest Posts</h6>
            </div>
            {% for post in latest_posts%}
            <div class="single-latest-post d-flex">
              <div class="post-thumb">
                <img src="{{post.picture.url}}" alt="">
              </div>
              <div class="post-content">
                <a href={{post.get_absolute_url}} class="post-title">
                  <h6>{{ post.title }}</h6>
                </a>
                <a href="#" class="post-author"><span>by</span> {{post.author}} </a>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <!-- Adds -->
            <a href="#"><img src="{% static 'img/blog-img/add.png' %}" alt=""></a>
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <!-- Title -->
            <div class="widget-title">
              <h6>Newsletter</h6>
            </div>
            <!-- Content -->
            <div class="newsletter-content">
              <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
              <form action="#" method="post">
                <input type="email" name="email" class="form-control" placeholder="Your email">
                <button><i class="fa fa-send"></i></button>
              </form>
            </div>
          </div>
          <!-- ##### Single Widget Area ##### -->
          <div class="single-widget-area">
            <div class="widget-title">
              <h6>popular tags</h6>
            </div>
            <ol class="popular-tags d-flex flex-wrap">
              {% for tag in tags %}
              <li><a href="tag?q={{tag.name}}">{{tag.name}}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
