@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet] */

/*
Template Name: Foode - Food Blog HTML5 Template
Template Author: Colorlib
Template Author URI: http://colorlib.com
Text Domain: Foode, Food Blog
Version: - v1.0.0
*/

/* =========== Index of CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
    :: 3.5.0 Preloader
    :: 3.6.0 Miscellaneous
    :: 3.7.0 ScrollUp
    :: 3.8.0 foode Button
:: 4.0 Header Area CSS
:: 5.0 Hero Slides Area
:: 6.0 About Us Area CSS
:: 7.0 Featured Post Sildes CSS
:: 8.0 Instagram Area CSS
:: 9.0 Footer Area CSS
:: 10.0 Breadcumb Area CSS
:: 11.0 Blog Area CSS
:: 12.0 Comment Area
:: 13.0 Leave A Reply Area CSS
:: 14.0 Pager CSS
:: 15.0 Sidebar Area CSS
:: 16.0 Contact Area CSS
*/

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i|Poppins:300,300i,400,400i,500,500i,600,600i');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $poppins-fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    line-height: 1.3;
    font-weight: 400;
    font-family: $merriweather-fonts;
}

p {
    font-family: $poppins-fonts;
    color: $text-color;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $heading-color;
    font-weight: 500;
    font-size: 14px;
    font-family: $poppins-fonts;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.height-800 {
    height: 800px;
}

/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* :: 3.4.0 Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;
    h2 {
        font-size: 36px;
        font-family: $merriweather-fonts;
        font-weight: 300;
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }
    span {
        color: $hover-color;
        margin-bottom: 0;
        font-family: $merriweather-fonts;
        font-weight: 400;
    }
    p {
        font-size: 16px;
        color: $text-color;
        margin-bottom: 0;
    }
}

/* :: 3.5.0 Preloader */

.preloader {
    background-color: $white-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    overflow: hidden;
    .circle-preloader {
        text-align: center;
        overflow: hidden;
        .foode-preloader {
            position: relative;
            z-index: 10;
            width: 160px;
            height: 4px;
            border-radius: 2px;
            margin-top: 30px;
            background-color: $border-color;
            overflow: hidden;
            span {
                width: 80px;
                height: 100%;
                position: absolute;
                background-color: $hover-color;
                top: 0;
                left: 0;
                border-radius: 2px;
                z-index: 100;
                @include animation(line 1000ms infinite linear);
            }
        }
    }
}

@-webkit-keyframes line {
    0% {
        left: -80px;
    }
    100% {
        left: 160px;
    }
}

@keyframes line {
    0% {
        left: -80px;
    }
    100% {
        left: 160px;
    }
}

/* :: 3.6.0 Miscellaneous */

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(21, 4, 48, 0.89);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.bg-fixed {
    background-attachment: fixed !important;
}

/* :: 3.7.0 ScrollUp */

#scrollUp {
    background-color: $bg-default;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 50px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);
    &:hover {
        background-color: $heading-color;
    }
}

/* :: 3.8.0 foode Button */

.foode-btn {
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 180px;
    height: 45px;
    color: $heading-color;
    background-color: $white-color;
    border: 1px solid $heading-color;
    border-radius: 3px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 43px;
    text-transform: uppercase;
    font-weight: 400;
    &.active,
    &:hover,
    &:focus {
        font-size: 14px;
        color: $white-color;
        font-weight: 400;
        background-color: $heading-color;
    }
    &.btn-sm {
        min-width: 80px;
        height: 30px;
        line-height: 28px;
    }
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $white-color;
    .top-header {
        position: relative;
        z-index: 1;
        background-color: $white-color;
        width: 100%;
        height: 60px;
        box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
        @media #{$breakpoint-md} {
            border-bottom: 1px solid $bg-gray;
        }
        @media #{$breakpoint-xs} {
            border-bottom: 1px solid $bg-gray;
        }
        .search-form form {
            position: relative;
            z-index: 1;
            input {
                &.form-control {
                    width: 200px;
                    height: 40px;
                    border: none;
                    background-color: $white-color;
                    font-size: 12px;
                    font-style: italic;
                    color: $secondary-color;
                    padding: 0;
                    font-weight: 500;
                    @include trans-duration(500ms);
                    &::placeholder {
                        color: $secondary-color;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    @media #{$breakpoint-xs} {
                        width: 160px;
                        font-size: 10px;
                    }
                    @media #{$breakpoint-xs-landscape} {
                        width: 200px;
                        font-size: 12px;
                    }
                }
            }
            button {
                @include trans-duration(500ms);
                position: absolute;
                width: 40px;
                height: 40px;
                right: 0;
                top: 0;
                z-index: 10;
                border: none;
                background-color: $white-color;
                &:hover {
                    color: $hover-color;
                    cursor: pointer;
                }
            }
        }
        .top-header-content {
            height: 60px;
            .top-social-info {
                a {
                    display: inline-block;
                    padding: 0 10px;
                    font-size: 14px;
                    &:hover {
                        color: $hover-color;
                    }
                    @media #{$breakpoint-xs} {
                        padding: 0 5px;
                    }
                    @media #{$breakpoint-xs-landscape} {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    .logo-area {
        position: relative;
        z-index: 1;
        margin-top: 40px;
        @media #{$breakpoint-md} {
            display: none;
        }
        @media #{$breakpoint-xs} {
            display: none;
        }
    }

    .foode-main-menu {
        @include trans-duration(200ms);
        .classy-navbar {
            padding: 0;
            @include justify-content-center;
            @include trans-duration(500ms);
            @media #{$breakpoint-md} {
                @include justify-content-between;
            }
            @media #{$breakpoint-xs} {
                @include justify-content-between;
            }
            .nav-brand {
                display: none;
                @include trans-duration(500ms);
                @media #{$breakpoint-md} {
                    display: block;
                }
                @media #{$breakpoint-xs} {
                    display: block;
                }
            }
        }
        .classynav ul li a {
            padding: 0 25px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media #{$breakpoint-lg} {
                padding: 0 15px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        .classynav ul li ul li a {
            padding: 0 20px;
            letter-spacing: 0;
            @media #{$breakpoint-md} {
                padding: 0 30px;
            }
            @media #{$breakpoint-xs} {
                padding: 0 30px;
            }
        }
        .classynav ul li .megamenu {
            background-image: url(img/blog-img/1.jpg);
            background-position: center center;
            background-size: cover;
            .single-mega {
                background-color: rgba(255, 255, 255, 0.95);
            }
        }
    }

    .is-sticky {
        .foode-main-menu {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9999;
            box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
            .classy-navbar {
                @include trans-duration(500ms);
                @include justify-content-between;
                .nav-brand {
                    display: block;
                }
            }
        }
    }
}

/* :: 5.0 Hero Slides Area */

.hero-area,
.hero-post-slides {
    position: relative;
    z-index: 1;
}

.single-hero-post {
    width: 100%;
    height: 480px;
    position: relative;
    z-index: 3;
    overflow: hidden;
    @media #{$breakpoint-xs} {
        height: 400px;
    }
    &::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        z-index: -1;
        top: 50%;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    }
    .slide-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .hero-slides-content {
        position: absolute;
        z-index: 30;
        bottom: 25px;
        left: 30px;
        right: 20px;
        p {
            font-weight: 500;
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            @media #{$breakpoint-md} {
                letter-spacing: 1px;
                font-size: 12px;
            }
        }
        .post-title {
            h4 {
                @include trans-duration(500ms);
                color: $white-color;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 0;
                &:hover {
                    color: $hover-color;
                }
                @media #{$breakpoint-md} {
                    font-size: 20px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 20px;
                }
            }
        }
    }
}

.hero-post-slides .owl-item.center .single-hero-post .slide-img {
    @include animation(slide 24s linear infinite);
}

@-webkit-keyframes slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}

@keyframes slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.3));
    }
    100% {
        @include transform(scale(1));
    }
}

/* :: 6.0 About Us Area CSS */

.about-content {
    position: relative;
    z-index: 1;
    img {
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
    }
    blockquote {
        h5 {
            font-size: 18px;
            color: $hover-color;
            line-height: 1.8;
            font-weight: 300;
            font-style: italic;
        }
    }
    ul {
        position: relative;
        z-index: 1;
        margin-left: 10%;
        li {
            font-size: 16px;
            color: $text-color;
            margin-bottom: 15px;
            display: block;
            i {
                position: relative;
                z-index: 1;
                top: -2px;
                font-size: 8px;
                color: $heading-color;
                margin-right: 10px;
            }
        }
    }
    .signature {
        text-align: center;
    }
}

/* :: 7.0 Featured Post Sildes CSS */

.featured-post-area {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
    .carousel-inner {
        position: relative;
        z-index: 3;
        @include flex(0 0 66.6667%);
        min-width: 66.6667%;
        width: 66.6667%;
        height: 502px;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
        }
        .carousel-item {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            &::after {
                content: "";
                position: absolute;
                height: 50%;
                width: 100%;
                z-index: -1;
                top: 50%;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
            }
            .featured-post-content {
                position: absolute;
                bottom: 20px;
                left: 30px;
                z-index: 30;
                right: 50px;
                p {
                    font-weight: 500;
                    font-size: 13px;
                    color: $white-color;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                .post-title {
                    h2 {
                        @include trans-duration(500ms);
                        font-size: 36px;
                        color: $white-color;
                        font-weight: 300;
                        line-height: 1.5;
                        margin-bottom: 0;
                        &:hover {
                            color: $hover-color;
                        }
                        @media #{$breakpoint-md} {
                            font-size: 30px;
                        }
                        @media #{$breakpoint-xs} {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    .carousel-indicators {
        height: 502px;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
        list-style: none;
        background-color: #f8f2ef;
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include flex(0 0 33.3333%);
        min-width: 33.3333%;
        width: 33.3333%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
        }
        li {
            @include trans-duration(500ms);
            @include display-flex(flex);
            @include align-items(center);
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
            height: 20%;
            margin-right: 0;
            margin-left: 0;
            text-indent: 0;
            border-left: 4px solid transparent;
            padding: 0 20px;
            h2 {
                font-size: 38px;
                color: $secondary-color;
                margin-bottom: 0;
                margin-right: 30px;
                @media #{$breakpoint-md} {
                    font-size: 24px;
                    margin-right: 15px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 24px;
                    margin-right: 15px;
                }
            }
            .post-title {
                h5 {
                    @include trans-duration(500ms);
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 1.5;
                    margin-bottom: 0;
                    &:hover {
                        color: $hover-color;
                    }
                    @media #{$breakpoint-lg} {
                        font-size: 16px;
                    }
                    @media #{$breakpoint-md} {
                        font-size: 14px;
                    }
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }
            }
            &.active {
                border-left: 4px solid #e59f80;
                box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.featured-posts {
    position: relative;
    z-index: 2;
    &::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        z-index: 2;
        top: 50%;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
        @media #{$breakpoint-xs} {
            height: 90%;
            top: 10%;
        }
    }
    .featured-post-content {
        position: absolute;
        bottom: 20px;
        left: 30px;
        z-index: 30;
        right: 50px;
        p {
            font-weight: 500;
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .post-title {
            h2 {
                @include trans-duration(500ms);
                font-size: 36px;
                color: $white-color;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 0;
                &:hover {
                    color: $hover-color;
                }
                @media #{$breakpoint-md} {
                    font-size: 30px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 16px;
                }
            }
        }
    }
}

.post-sidebar-area,
.contact-information {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-md} {
        margin-top: 50px;
    }
    @media #{$breakpoint-xs} {
        margin-top: 50px;
    }
}

/* :: 8.0 Instagram Area CSS */

.single-instagram-slide {
    position: relative;
    z-index: 2;
    overflow: hidden;
    &::after {
        @include trans-duration(500ms);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.7);
        content: '';
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    img {
        @include trans-duration(1000ms);
    }
    a {
        @include trans-duration(500ms);
        text-align: center;
        display: inline-block;
        @include transform(translateY(-50%));
        position: absolute;
        z-index: 30;
        width: 100%;
        top: 50%;
        left: 0;
        font-size: 14px;
        font-weight: 500;
        color: $heading-color;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        &:hover {
            color: $heading-color;
        }
        i {
            margin-right: 5px;
        }
    }
    &:hover img {
        transform: scale(1.2) rotate(5deg);
    }
    &:hover::after,
    &:hover a {
        opacity: 1;
        visibility: visible;
    }
}

/* :: 9.0 Footer Area CSS */

.footer-area {
    position: relative;
    z-index: 1;
    margin-top: 60px;
    .footer-social-info {
        position: relative;
        z-index: 1;
        padding: 30px 0;
        a {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            span {
                margin-left: 10px;
                @media #{$breakpoint-xs} {
                    display: none;
                }
                @media #{$breakpoint-md} {
                    display: none;
                }
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .copywrite-text {
        position: relative;
        z-index: 1;
        padding: 20px 0;
        text-align: center;
        p {
            font-size: 14px;
            color: $secondary-color;
            font-weight: 400;
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
            a {
                font-size: 14px;
                color: $secondary-color;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
            }
        }
    }
}

/* :: 10.0 Breadcumb Area CSS */

.breadcrumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    padding-bottom: 60px;
    .breadcrumb {
        margin: 0;
        padding: 0;
        padding-top: 30px;
        background-color: transparent;
        .breadcrumb-item {
            font-size: 16px;
            color: $secondary-color;
            a {
                font-size: 16px;
                color: $heading-color;
                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item::before {
            color: $heading-color;
            content: ">";
        }
    }
}

/* :: 11.0 Blog Area CSS */

.single-blog-post {
    position: relative;
    z-index: 1;
    .post-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 50%);
        max-width: 50%;
        width: 50%;
        margin-right: 6%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
            margin-right: 0;
        }
    }
    .post-content {
        @include flex(0 0 44%);
        max-width: 44%;
        width: 44%;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            min-width: 100%;
            width: 100%;
        }
        .post-date {
            font-weight: 500;
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
        }
        .post-title {
            h4 {
                @include trans-duration(500ms);
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 15px;
                &:hover {
                    color: $hover-color;
                }
                @media #{$breakpoint-md} {
                    font-size: 20px;
                }
                @media #{$breakpoint-xs} {
                    font-size: 20px;
                }
            }
        }
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;
            a {
                display: inline-block;
                font-size: 14px;
                color: $heading-color;
                margin-right: 15px;
                &:first-child {
                    font-style: italic;
                }
                span,
                i {
                    color: $secondary-color;
                    margin-left: 3px;
                }
                &:hover {
                    color: $hover-color;
                }
            }
        }
        .post-excerpt {
            font-size: 16px;
            color: $text-color;
            margin-bottom: 0;
        }
        .read-more-btn {
            display: block;
            margin-top: 20px;
            color: $secondary-color;
            font-size: 13px;
            margin-bottom: 0;
            text-transform: uppercase;
            i {
                @include trans-duration(300ms);
                color: $hover-color;
            }
            &:hover,
            &:focus {
                color: $hover-color;
                i {
                    margin-left: 5px;
                }
            }
        }
    }
    &.related-post {
        .post-thumbnail {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px !important;
        }
        .post-content {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
    }
}

/* :: 12.0 Comment Area */

.comment_area {
    position: relative;
    z-index: 1;
    padding: 50px 0;
    .headline {
        margin-bottom: 30px;
    }
    .single_comment_area {
        position: relative;
        z-index: 1;
        &::after {
            position: absolute;
            width: 1px;
            height: 90%;
            background-color: $border-color;
            left: 100px;
            top: 0;
            z-index: 2;
            content: '';
            @media #{$breakpoint-xs} {
                display: none;
            }
        }
        .comment-wrapper {
            margin-bottom: 30px;
            .comment-author {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 60px;
                @media #{$breakpoint-xs} {
                    margin-right: 20px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .comment-content {
                @include flex(1);
                .comment-date {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $hover-color;
                }
                h5 {
                    font-size: 18px;
                    margin: 5px 0;
                }
                p {
                    font-size: 16px;
                }
                a {
                    min-width: 80px;
                    height: 30px;
                    border: 1px solid $border-color;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                    color: $heading-color;
                    display: inline-block;
                    &:hover {
                        border-color: $heading-color;
                        color: $white-color;
                        background-color: $heading-color;
                    }
                }
            }
        }
    }
}

.single_comment_area ol li.single_comment_area {
    margin-left: 130px;
    &::after {
        display: none;
    }
    @media #{$breakpoint-xs} {
        margin-left: 40px;
    }
    .comment-wrapper .comment-author {
        margin-right: 30px;
        @media #{$breakpoint-xs} {
            margin-right: 15px;
        }
    }
}

/* :: 13.0 Leave A Reply Area CSS */

.leave-comment-area {
    position: relative;
    z-index: 1;
    h4 {
        margin-bottom: 30px;
    }
    form {
        .form-control {
            width: 100%;
            height: 40px;
            border: 1px solid $border-color;
            font-size: 14px;
            color: $secondary-color;
            padding: 10px 20px;
            margin-bottom: 20px;
            @include trans-duration(500ms);
            &:focus {
                box-shadow: none;
                border-color: $hover-color;
            }
        }
        textarea.form-control {
            width: 100%;
            height: 120px;
        }
    }
}

/* :: 14.0 Pager CSS */

.foode-pager {
    @include display-flex(flex);
    @include justify-content-between;
    li a {
        width: 130px;
        height: 44px;
        border: 1px solid $border-color;
        display: inline-block;
        font-size: 13px;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 42px;
        text-align: center;
        &:hover,
        &:focus {
            color: $heading-color;
        }
    }
}

/* :: 15.0 Sidebar Area CSS */

.single-widget-area {
    position: relative;
    z-index: 1;
    margin-top: 50px;
    .widget-title {
        width: 100%;
        position: relative;
        z-index: 2;
        margin-bottom: 45px;
        text-align: center;
        &::before {
            width: 100%;
            height: 14px;
            background-image: url(img/core-img/widget-curve.png);
            background-position: center center;
            background-repeat: repeat;
            position: absolute;
            top: 4px;
            left: 0;
            z-index: 1;
            content: '';
        }
        h6 {
            position: relative;
            z-index: 5;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0;
            line-height: 1;
            background-color: $white-color;
            padding: 0 25px;
            display: inline-block;
        }
    }
    .about-thumbnail {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        img {
            border-radius: 50%;
        }
    }
    .widget-content {
        img {
            margin-top: 20px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.6;
        }
    }
    .widget-social-info {
        a {
            display: inline-block;
            padding: 0 10px;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .single-latest-post {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        .post-thumb {
            @include flex(0 0 35%);
            max-width: 35%;
            width: 35%;
            margin-right: 10%;
        }
        .post-content {
            @include flex(0 0 55%);
            max-width: 55%;
            width: 55%;
            .post-title {
                h6 {
                    @include trans-duration(300ms);
                    font-size: 18px;
                    margin-bottom: 15px;
                    line-height: 1.5;
                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }
            .post-author {
                display: block;
                font-size: 14px;
                font-style: italic;
                span {
                    color: $secondary-color;
                }
            }
        }
    }
    .newsletter-content {
        position: relative;
        z-index: 1;
        p {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 1.5;
        }
        form {
            position: relative;
            z-index: 2;
            input {
                background-color: $bg-gray;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                font-size: 14px;
                color: $secondary-color;
                border: none;
                border-radius: 0;
                &:focus {
                    box-shadow: none;
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;
                z-index: 10;
                border: none;
                background-color: $hover-color;
                cursor: pointer;
                color: $white-color;
                &:hover {
                    @include trans-duration(300ms);
                    background-color: $heading-color;
                }
            }
        }
    }
    .popular-tags {
        li a {
            display: inline-block;
            margin: 4px;
            border: 1px solid $border-color;
            padding: 10px 15px;
            line-height: 1;
            text-transform: uppercase;
            font-size: 13px;
            color: $heading-color;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .foode-catagories {
        position: relative;
        z-index: 1;
        li a {
            @include display-flex(flex);
            @include justify-content-between;
            border-bottom: 1px dotted $border-color;
            padding: 15px 0;
            font-size: 16px;
            line-height: 1;
            font-family: $merriweather-fonts;
            font-weight: 300;
            span {
                color: $heading-color;
                @include trans-duration(500ms);
                i {
                    position: relative;
                    top: -3px;
                    font-size: 8px;
                    margin-right: 8px;
                }
                &:last-child {
                    color: $secondary-color;
                    font-weight: 400;
                }
            }
            &:hover span,
            &:focus span {
                color: $hover-color;
            }
        }
        li:last-child a {
            border-bottom: none;
        }
    }
    .foode-archives {
        position: relative;
        z-index: 1;
        li a {
            display: block;
            border-bottom: 1px dotted $border-color;
            padding: 15px 0;
            font-size: 16px;
            line-height: 1;
            font-family: $merriweather-fonts;
            font-weight: 300;
            span {
                color: $heading-color;
                @include trans-duration(500ms);
                i {
                    position: relative;
                    top: -3px;
                    font-size: 8px;
                    margin-right: 8px;
                }
            }
            &:hover span,
            &:focus span {
                color: $hover-color;
            }
        }
        li:last-child a {
            border-bottom: none;
        }
    }
    .search-form {
        position: relative;
        z-index: 2;
        input {
            background-color: $bg-gray;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            font-size: 14px;
            color: $secondary-color;
            border: none;
            border-radius: 0;
            &:focus {
                box-shadow: none;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            z-index: 10;
            border: none;
            background-color: $hover-color;
            cursor: pointer;
            color: $white-color;
            &:hover {
                @include trans-duration(300ms);
                background-color: $heading-color;
            }
        }
    }
    img {
        width: 100%;
    }
}

.single-post-details-area {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    .post-content {
        .post-date {
            font-weight: 500;
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
        }
        .post-title {
            @include trans-duration(500ms);
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 15px;
            font-size: 36px;
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
            a {
                display: inline-block;
                font-size: 14px;
                color: $heading-color;
                margin-right: 15px;
                &:first-child {
                    font-style: italic;
                }
                span,
                i {
                    color: $secondary-color;
                    margin-left: 3px;
                }
                &:hover {
                    color: $hover-color;
                }
            }
        }
        p {
            font-size: 16px;
            color: $text-color;
        }
        blockquote {
            @include display-flex(flex);
            position: relative;
            z-index: 1;
            padding: 15px 0 10px 0;
            .blockquote-icon {
                position: relative;
                z-index: 1;
                margin-right: 20px;
                img {
                    width: 40px;
                    height: auto;
                }
            }
            .blockquote-text {
                h6 {
                    font-weight: 300;
                    line-height: 1.9;
                    &:first-child {
                        font-style: italic;
                    }
                    &:last-child {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}

.post-tags-share {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    .popular-tags {
        li a {
            display: inline-block;
            margin: 4px;
            border: 1px solid $border-color;
            padding: 10px 15px;
            line-height: 1;
            text-transform: uppercase;
            font-size: 13px;
            color: $heading-color;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .post-share {
        span {
            font-family: $merriweather-fonts;
            font-size: 14px;
        }
        a {
            font-size: 14px;
            display: inline-block;
            padding: 0 10px;
            &:hover,
            &:focus {
                color: $hover-color;
            }
            @media #{$breakpoint-xs} {
                padding: 0 5px;
            }
        }
    }
}

.related-posts {
    position: relative;
    z-index: 1;
    .curve-line {
        width: 100%;
        height: 6px;
    }
    .headline {
        margin-bottom: 30px;
    }
}

.map-area {
    position: relative;
    z-index: 2;
    iframe {
        width: 100%;
        height: 530px;
        border: none;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            height: 300px;
        }
    }
}

/* :: 16.0 Contact Area CSS */

.contact-content-area {
    position: relative;
    z-index: 50;
    padding: 8%;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    top: -100px;
    background-color: $white-color;
}

.contact-content {
    position: relative;
    z-index: 2;
    h4 {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .single-contact-info {
        position: relative;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .icon {
            @include flex(0 0 40px);
            max-width: 40px;
            width: 40px;
            i {
                font-size: 16px;
                margin-top: 8px;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
    .contact-social-info {
        a {
            display: inline-block;
            margin-right: 25px;
            &:hover,
            &:focus {
                color: $hover-color;
            }
            @media #{$breakpoint-xs} {
                margin-right: 15px;
            }
        }
    }
    .contact-form-area {
        .form-control {
            position: relative;
            z-index: 2;
            height: 45px;
            width: 100%;
            background-color: $white-color;
            font-size: 12px;
            margin-bottom: 15px;
            border: 1px solid $border-color;
            border-radius: 0;
            padding: 15px 30px;
            font-style: italic;
            font-weight: 700;
            color: #bbbbbb;
            @include trans-duration(500ms);
            &:focus {
                box-shadow: none;
                border-color: $hover-color;
            }
        }
        textarea.form-control {
            height: 120px;
        }
    }
}
/* ======= The End ======= */
